body {

	background-color: #D8E1E9;
}
.imageborder{
	border:5px solid #748FB6;
}
 .container {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;

	padding: 3px;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.container div {
	padding:10px;
	margin:5px;
}
#HomePage h1{ color: #748FB6;
	}
#FinishedProducts
{		background-color: #D8E1E9;}


div { border:2px #D66BA0;
} 

h1, p, li {
  
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #D66BA0;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #85629B;
}

