body {

	background-color: #D8E1E9;
}

 .container {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container div {
	padding:10px;
	margin:5px;
}

/*div {
	border: 2px solid limegreen;
}*/

h1, p, li {
  
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

